[submodule "UEK-294-Portfolio"]
	path = UEK-294-Portfolio
	url = https://github.com/JonathanXDR/UEK-294-Portfolio
[submodule "UEK-210-Portfolio"]
	path = UEK-210-Portfolio
	url = https://github.com/JonathanXDR/UEK-210-Portfolio
